.icon{
  font-size: 3em;
  display: block;
  text-align: center;
}
.folder-icon{
  color: rgb(241, 195, 0);
}
.file-icon{
  color: rgb(122, 122, 122);
}
.element-name{
  display: inline-block;
  text-align: center;
  margin-top: 0.5em;
  
}
.sub{
  display:flex;
  flex-direction: column;
  width: 80px;
}
.element{
  display: inline-flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5em;
  padding-top: 0.5em;
  border: 1px solid transparent;
  margin:1px;
}
.element-selected{
  background-color: rgb(241, 249, 252);
  border: 1px solid rgb(0, 217, 255);;
  color: rgb(13, 107, 151);
}

.element-cropped{
  opacity: 0.5;
}