.window {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    overflow: hidden;
    width: 800px;
    height: 500px;
    border-radius: 5px;
}
.header{
background-color: #1298f1;
color:white;
border-bottom: 1px solid #d3d3d3;
border-radius: 5px 5px 0 0;
padding: 8px;
position: relative;
}
.nav-button{
position: absolute;
top: 0;
right: 0;
height: 100%;
width: 30px;
font-size: 1.5em;
display: flex;
justify-content: center;
align-items: center;
}
.nav-button:hover{
background-color: red;
cursor: pointer;
}
.content{
padding: 10px;
height: 100%;
}
/* .content{
margin-top: 0px;
overflow: auto;
width: 100%;
height: calc(100% - 45px); 
padding: 10px;
}


.nav-button{
cursor: pointer;
float: right;
font-size: 1.6em;
width: 30px;
height: 30px;
text-align: center;
transition: background-color .2s;
background-color: #2196F3;
position: absolute; top: 0px; right: 0px;
}
.nav-button:hover{
    background-color: #1d7cca;
}
.close-button{
    border-radius: 0 5px 0 0;
}
.close-button > div{
margin-top: -7px;
}
.close-button:hover{
background-color: red;
}
.maximize-button{
font-size: 14pt;
margin-right: 30px;
}
.maximize-button > div{
margin-top: -1px;
}
.minus-button{
font-size: 30pt;
margin-right: 60px;
}
.minus-button > div{
margin-top: -20px;
}

.icon{
width: 20px;
margin-top: -3px;
margin-left: -3px;
margin-right: 3px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} */